#board {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#board-top {
  margin: 0;
  min-height: 16vh;
  width: 100%;
  background-color: #283593;
}

#board-bottom {
  margin:0;
  padding:0;
  padding-top: 30px;
  height: 84vh;
  width: 100%;
  background-color: #f5f8ff;
}

#board-play, #board-chat, #board-transcript {
  height: 83vh;
}

#board-transcript {
  float:left;
  width: 25%;
  margin: 0;
  background-color: #f5f8ff;
}

#board-play {
 float:left;
 width: 50%;
 margin: 0;
 background-color: #f5f8ff;
}

#board-chat {
  padding: 0;
  margin: 0;
  width: 25%;
  float:left;
  background-color: #f5f8ff;

}

#board-oppo {
  text-align:center;
  border: 1px solid #f5f8ff;
}

#board-arrow-container {
  position: fixed;
  bottom: 2px;
  text-align: center;
  width: 48%;
}

#board-arrow {
  height: 65px;
  opacity: .3;
}

#board-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.board-modal {
  font-family: Menlo;
  position: absolute;
  top: 1vh;
  left: 1vw;
  right: 1vw;
  bottom: 1vh;
  background-color: #e3f2fd; opacity:0.95;
  border-radius: 5px;
  border: none !important;
  text-align: center;
  padding-top: 8vh;
}

.board-modal h1, h3 {
  color: #1a237e;
}

.board-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#board-modal-button {
  font-family: Menlo;
  font-size: 14px;
  text-align: center;
  height: 35px;
  width: 100px;
  background-color: #0d47a1;
  color: white;
  border: none;
  border-radius: 3px;
}

#board-modal-button:hover {
  cursor: pointer;
  background-color: #651fff;
}

#board-hall-table {
  width: 40%;
  margin:auto;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #090d3b;
}

#board-hall-table td {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 17px;
}

#board-personal {
  margin-top: 30px;
  margin-bottom: 50px;
}

#board-personal-score {
  font-weight: 400;
}