#board {
  width: 99.5vw;
  height: 99.5vh;
  position: absolute;
  top: 0;
  left: 0;
}

#board-top {
  margin: 0;
  height: 15vh;
  width: 100%;
  border: 2px solid green;
}

#board-bottom {
  margin:0;
  height: 83.5vh;
  border: 2px solid red;
  width: 100%;
}

#board-play, #board-chat {
  height:83.5vh;
}

#board-play {
 border: 2px solid purple;
 float:left;
 width: 68%;
 margin: 0;
}

#board-chat {
  padding: 0;
  margin: 0;
  width: 31%;
  float:left;
  border:2px solid blue;
}

#board-self {
  margin-top: 50px;
}

#board-oppo {
  margin-top: 20px;
  text-align:center;
}