#oppo-dice-area {
    height: 23vh;
    margin-left: 30px;
    margin-right: 30px;
}

#oppo-focus {
    box-shadow: 0px 0px 7px 10px #e9ebf0;
    height: 100%;
}

#oppo-rolling {
    padding-top: 30px;
    padding-bottom: 40px;
    color:#1a237e;
    font-size: 18px;
}

#oppo-dice-container {
    text-align: center;
}
