.self-container {
    margin: 30px 50px 20px 40px;
    padding: 30px 0px 30px 0px;
}

.self-focus {
    box-shadow: 0px 0px 7px 10px #e9ebf0;
} 


#dice-start-game-button {
    font-family: Menlo;
    font-size: 15px;
    font-weight: 300;
    border: none;
    height: 40px;
    width: 200px;
    background-color: #ffc107;
    color: rgb(8, 19, 72);
    text-align: center;
    border-radius: 3px;
    padding-top: 5px;
}

#dice-start-game-button:hover {
    cursor: pointer;
    color: white;
    opacity: 0.9;
}

#dice-start-game-button-container {
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
}

.self-modal {
    font-family: Menlo;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ede7f6; opacity:0.95;
    /* color: #1a237e; */
    text-align: center;
    padding-top: 15vh;
}

.self-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.self-gif {
    height: 35vh;
    box-shadow: 2px 4px 6px 10px #c2c2c2;
}

.self-results-heading {
    margin-top: 60px;
    margin-bottom: 6px;
    font-size: 20px;
    color: #012966;
}

.self-score {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #012966;
}

.self-winner {
    font-size: 36px;
    font-style: italic;
    margin-top: 60px;
    color: #311b92;
    font-weight: 600;
}

.self-hall {
    font-size: 26px;
    font-style: italic;
    margin-top: 60px;
    color: #311b92;
    font-weight: 600;
}




/* #new-game-btn-container {
  margin-top: 30px;
}

#new-game-btn {
  font-family: Menlo;
  font-weight: 800;
  font-size: 12px;
  color: white;
  background-color: #0d47a1;
  height: 35px;
  padding-top: 2px;
  width: 150px;
  border: none;
  border-radius: 3px;
}

#new-game-btn:hover {
  cursor: pointer;
  background-color: #1565c0;
} */